<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SchoolManagementDB5ConnectionString" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString2" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString3" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString4" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString5" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString6" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString7" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString8" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString9" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString10" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString11" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString12" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString13" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString14" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString15" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString16" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString17" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString18" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString19" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString20" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString21" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString22" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString23" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString24" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString25" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString26" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString27" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString28" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString29" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString30" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString31" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString32" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString33" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString34" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString35" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString36" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString37" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString38" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="CRUD FORUMConnectionString" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=&quot;CRUD FORUM&quot;;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString39" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Persist Security Info=True;User ID=sa;Password=Ammad@300;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString40" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;User ID=sa;Password=Ammad@300;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database14.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="OMS233ConnectionString" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=OMS233;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString41" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString42" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString43" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString44" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString45" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString46" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString47" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString48" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString49" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString50" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString51" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString52" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString53" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString54" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString55" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString56" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString57" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString58" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString59" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString60" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString61" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString62" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;User ID=sa;Password=Ammad@300;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString63" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Persist Security Info=True;User ID=sa;Password=Ammad@300;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString64" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString65" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString66" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString67" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString68" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString69" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString70" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString71" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString72" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString73" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString74" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString75" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString76" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString77" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString78" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString79" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString80" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString81" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString82" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString83" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString84" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString85" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
    <add name="SchoolManagementDB5ConnectionString86" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <!--<authentication mode="Forms">
    <forms loginUrl="Login12.aspx" />
  </authentication>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<!--<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=DESKTOP-CSQNJOV;Initial Catalog=SchoolManagementDB5;Integrated Security=True"
      providerName="System.Data.SqlClient" />
	</connectionStrings>-->
	
</configuration>